* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375C;
    --secondary-color: #2E80CE;
    --tertiary-color: #F6FBFF;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
}

/* ==================== Common ==================== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: var(--secondary-color);
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid var(--secondary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* ==================== Header ==================== */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--primary-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--secondary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
}


/* ======= Navbar ======= */
.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-action-login {
    color: #C9D2DA;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    height: 0.375em;
    width: 0.375em;
    margin-right: 0.5em;
    background: #fff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action-signup {
    margin-left: 7px;
    height: 44px;
    line-height: 44px;
    min-width: 104px;
}

/* ==================== Hero ==================== */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 45%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.75;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__telephone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img--big,
.hero__img--small {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img--big {
    position: relative;
    width: 330px;
    height: 540px;
    margin-right: -6px;
}

.hero__img--small {
    width: 210px;
    height: 410px;
}

/* ==================== Our services ==================== */
.services {
    padding: 170px 0;
}

.services__desc,
.services__heading {
    text-align: center;
}

.services__desc {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.services__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services__list {
    margin-bottom: 55px;
}

/* Service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05)
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    line-height: 1.75;
}

/* ==================== Footer ==================== */
/* ==================== Footer ==================== */
/* ==================== Footer ==================== */